body{
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 870px;
    margin: 0 auto;
    /* background-color: rgb(223, 223, 223); */
}
/* top player  */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr; */
    
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}